body {
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: #fff;
}

.container {
    border: 1px solid white;
    text-align: center;
    font-family: sans-serif;
    margin: 10% 25%;
    border-radius: 2px;
}

#number {
    border:  none;
    padding: 10px;
    border-radius: 2px;
    outline: none;
}

button {
    background: black;
    color: white;
    display: block;
    border: 1px solid;
    margin: 10px auto;
    width: 100px;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
}

.reset {
    background-color: #fff;
    color: #212121;
}