<h1>{{ title }} Counter</h1>
<input type="number" placeholder="your daily step goal" (input)="takeInput($event.target)">
<div>Current Step : {{ step() }}</div>
<div>Your Progress : {{ progress() }}%</div>
<!-- <div class="success" [@if]="progress() === 100">Congratulations on completing your daily steps! Keep the spirit high!</div> -->
<button style="padding: 3px 5px; border-radius: 4px; background: none;" (click)="resetStep()">Reset Step</button>
<button style="padding: 3px 5px; border-radius: 4px; background: none;" (click)="increaseStep()">One Step</button>